
I have {{ records.length }} records.
The average grade is {{ calculateAverage(records)}}.
<form ng-submit="addRecord()">
  Name: <input ng-model="studentName" type="text"/>
  Grade: <input ng-model="grade" type="text"/>
  <input type="submit" id="submit" value="Submit" class="btn btn-default btn-sm"/>
</form>

<ul class="example-animate-container">
  <li class="animate-repeat" ng-repeat="record in records">
    [{{$index + 1}}] {{record.name}} who recieved a {{record.grade}} grade.
    <button ng-click="deleteRecord($index)" class="btn btn-default btn-sm">Remove</button>
  </li>
</ul>