
I have {{ records.length }} records.
The average grade is {{ average }}, with a {{ minimum }} min and {{ maximum }} max.
<form ng-submit="addRecord(studentName,grade)">
  Name: <input id="studentName" ng-model="studentName" type="text"/>
  Grade: <input id="grade" ng-model="grade" type="text"/>
  <input type="submit" id="submit" value="Submit" class="btn btn-default btn-sm"/>
</form>

<ul class="example-animate-container">
  <li class="animate-repeat" ng-repeat="record in records">
    [{{$index + 1}}] {{record.name}} who recieved a {{record.grade}} grade.
    <button ng-click="deleteRecord($index)" class="btn btn-default btn-sm">Remove</button>
  </li>
</ul>